[2014-10-20 19:40] kaarrot opened #2 "very cool!"
Hi,
First off all thanks for sharing. This is really cool!
I'd like to ask about about two things.

1.
I get the an error when building the package from Julia:
ERROR: unknown package GeometricalPredicates required by VoronoiDelaunay
 in error at error.jl:21
 in requirements at ./pkg/query.jl:9
 in resolve at ./pkg/entry.jl:371
 in clone at pkg/entry.jl:161
 in clone at pkg/entry.jl:177
 in anonymo

[2014-10-26 18:55] hayd opened #3 "Code sample to create the readme image"
It would be great if you could mention how you generated this (e.g. from an image?)!

![julia tess](https://camo.githubusercontent.com/fce173e82d879c38b12cc83c645ecca7014176a6/687474703a2f2f692e696d6775722e636f6d2f6c6838564c5a352e706e6735)

[2014-10-27 19:59] #3 closed, assigned to nobody

[2014-10-28 05:06] skariel opened #5 "regarding from_image"
a few TODOs:
- [ ] the `.c.b` thing needs to be configurable
- [ ] npoints is not really the number of poits, just the number of trys. The actual number of points will depend on the actual image gray areas. I'll change this to actually mean the number of points
- [ ] The 0.5 and 0.01 thesholds can be configurable too
- [ ] Testing, once with a generated image (e.g. just white/black blocks or lines

[2014-12-15 18:19] #2 closed, assigned to nobody

[2015-01-17 01:23] dfdx opened #6 "Vertices of triangles as indexes of original points"
Is it possible, given instance of `DelaunayTriangle`, to retrieve indexes of original points, making its vertices? For example, if we added 20 points, and first triangle is made by points (3), (5) and (11) (in order of pushing them), is it possible to get these indexes?

[2015-01-24 22:00] dfdx commented on #6
I ended up creating my own point type with built-in indexing:

    type IndexedPoint2D <: AbstractPoint2D
        _x::Float64
        _y::Float64
        _idx::Int64
        IndexedPoint2D(x, y, idx) = new(x, y, idx)
        IndexedPoint2D(x, y) = new(x, y, 0)
    end

    getx(p::IndexedPoint2D) = p._x
    gety(p::IndexedPoint2D) = p._y
    getidx(p::IndexedPoint2D) = p._idx

This, however, is a

[2015-01-31 15:39] jbaayen opened #7 "Infinite loop when attempting to generate degenerate triangulation"
Trying to generate a degenerate triangulation causes the code to enter an infinite loop. The following code exhibits this behaviour:

using VoronoiDelaunay
tess = DelaunayTessellation()
push!(tess, Point(-1, -1))
push!(tess, Point(-1, -2))
push!(tess, Point(-1, -3))

Such code can be a part of a valid use case, where points on further lines are added later.

[2015-01-31 18:23] skariel commented on #7
As written in the documentation, coordinates must be between 1.0+eps and 2.0-eps. For covinience the constants max_coord and min_coord are given. In your example all the coordinates are outside of needed range. This library can handle degenerate cases with no problem unless there is a bug, and this case is no bug, so closing issue

[2015-01-31 18:23] #7 closed

[2015-01-31 18:48] skariel commented on #6
This is a bug, I'll fix it- your solution should work just fine, And there shouldn't be a fake point with an index of zero.

So I'll fix it, remember to change your code when you upgrade (so you don't miss a real point)

[2015-01-31 20:11] dfdx commented on #6
Great, thank you!

[2015-02-02 10:36] skariel commented on #6
The problem is that the user tessellation is built inside a preexisting tessellation of 4 points at (1,1),(1,2),(2,1) and (2,2). These are "virtual" points and need to be removed and currently this library does not remove these correctly.

I'm fixing this but it will take a bit more time since its not a trivial fix -- there should be a post-processing pass.

On the good side, I've improved perform

[2015-02-06 12:00] SimonDanisch opened #8 "3D Delaunay"
Hi,
would it be sensible to just wrap this piece of code and port it to julia when there is time?
http://www.codeproject.com/Articles/587629/A-Delaunay-triangulation-function-in-C
Like this we could already have 3D Delaunay available in Julia, which could be used in PetrKryslUCSD/JFinEALE.jl#3 for example.
Also, do you have any plans to merge your efforts into one big 3D geometry package, includin

[2015-02-07 17:03] PetrKryslUCSD commented on #8
Simon,

Adding Delaunay triangulation capabilities to Julia is certainly worthwhile.  It needs to be realized however that unconstrained triangulation is of limited usefulness.  Also, compared to CONSTRAINED triangulation, unconstrained triangulation is easy.  The real difficulty comes with triangulating domains with boundaries.

I believe it would be quite useful to wrap one of the public-domain

[2015-02-08 21:19] SimonDanisch commented on #8
I see, thanks for the clarification.
Sounds like a bigger project though.
CGAL seems to be interesting as well!

[2015-02-09 07:50] skariel commented on #8
Wrapping Tetgen should be easy, it seems to me this is the way to go.

Nevertheless a pure Julia implementation has some value: VoronoiDelaunay.jl is faster than current alternatives, it will support distributed execution, and it is MIT licensed.

This library started without a need for constraining Delaunay meshes as I want to write a moving-mesh hydrodynamical simulation (see images below) that

[2015-02-09 12:56] SimonDanisch commented on #8
That's exciting and really proves the point, that a high-level language helps to make code fast, even though that it's in theory just barely on eye level with C-performance.

I'm really inexperienced with geometric algorithms, but if I understand the problem correctly, a recursive staged function could help.
You could have a flip type with the parameters encoding what flip you want to perform, and

[2015-02-09 13:06] SimonDanisch commented on #8
I guess the field of `Computational Geometry` would definitely qualify for it's own group!
However, it would be nice to carefully design it together with the visualization libraries, to enforce interoperability. So maybe, [JuliaGraphics](https://github.com/JuliaGraphics) could be the umbrella group!?
For me that would make some sense, as geometry algorithms are tightly coupled to visualizations.
B

[2015-02-09 15:54] SimonDanisch commented on #8
To get things started I created JuliaGeometry and an empty Package for the TetGen wrapper:
https://github.com/JuliaGeometry/TetGen.jl

[2015-02-10 04:45] PetrKryslUCSD commented on #8
Ariel,

Congratulations on the impressive results from the mixing simulation! That
is quite something...

About the simulation though: it appears that your code must actually handle
boundaries: internal ones, the surface of the paddle. Do you do this by
distributing strategically points on the surface?

P

On Sun, Feb 8, 2015 at 11:50 PM, Ariel Keselman <notifications@github.com>
wrote:

--
Petr K

[2015-02-10 07:01] skariel commented on #8
Petr you should congratulate Volker Springel not me! These images are taken from his [paper describing the method in details](http://arxiv.org/pdf/0901.4107v3.pdf) see section 8.9 on page 52 The paper is also linked from this packages readme file) See also movies here: http://www.mpa-garching.mpg.de/~volker/arepo/ and some application in cosmology here: http://www.cfa.harvard.edu/itc/research/movi

[2015-02-11 10:00] skariel opened #10 "tests failing on Julia 0.3"

[2015-02-11 10:08] skariel commented on #10
Actually only "staged" branch is failing since there are no staged function in Julia 0.3 :)

[2015-02-11 10:08] #10 closed

[2015-03-06 20:23] robertdj opened #11 "How to work with Voronoi tessellations"
Hi,

This looks like just the package I need:
I want to compute a Voronoi tessellation and then the area of each (bounded) cell.

However, playing around with the examples in the README there are some things I don't understand:

- The command `tess = DelaunayTessellation()` seems to produce the same output if I provide a `sizehint` input.
- Can I extract individual points from `tess`?
- After call

[2015-03-09 18:57] skariel commented on #11
hi, sorry for the late reply, for some reason I was not notified when you opened this issue.

About your questions:

* Indeed `tess = DelaunayTessellation()` will produce the same output regardless of the `sizehint` input. The `sizhint` is intended to affect only performance aspects
* You can extract individual points from `tess`, for e.g by iterating over the triangles or by just keeping a copy o

[2015-03-10 08:17] robertdj commented on #11
Hi

Thanks for you reply!

Regarding my second question:
If I make a tessellation made by `tess = DelaunayTessellation()` (and maybe fill it as explained in the README), can I extract element `n`? If `tess` was an array I could use `tess[n]`, but this command gives an error.

Regarding the corners, your interpretation of my question is correct :-)
If I understand your code correctly it seems to gi

[2015-03-10 13:40] skariel commented on #11
You have to use your own `Point2D` type with an index, something like

[code]
You have to implement `getx`, `geta`, etc. and then extract the corners as above

[2015-03-11 21:49] robertdj commented on #11
Ahh, that makes sense! Thank you!

[2015-04-19 14:35] dfdx commented on #6
Any news on this issue? I'm planning to release library that uses Delaunay triangulation, so it will be nice to know status of the bug and either fix it or warn users about some "strange" behavior.

Note, it's not critical for that library, so no hurry here. It's just for keeping users informed.

[2015-04-19 20:41] skariel commented on #6
No proper fix yet, but maybe you could just filter out those triangles containing the virtual point (thos with index 0) can this solve the problem? If not, then I guess best thing as of now would be to warn the users...

[2015-04-19 20:47] skariel commented on #6
Actually filtering these triangles would still sometimes give weird results. Another approach for a "fast" fix would be to make a dense "frame" of points and let the user add points only inside. Again, not a real solution good for all circumstances but maybe fits you need.

I do intend to fix this issue...

[2015-04-19 23:52] dfdx commented on #6
I already have kind of a fast fix for this, so I will go with it for now and just warn users until this issue is resolved normally. Thanks for your time!

[2015-10-19 15:30] amellnik commented on #5
Also the current README.md seems to imply that from_image should be exported, but it is not.

[2016-01-13 21:07] robertdj opened #14 "Missing Voronoi edges"
When plotting edges as illustrated in the README, the Delaunay edges all show up as expected, but I often find Voronoi edges missing.
(`collect`ing the Voronoi edges also reveal that only a subset of the edges are available)

Consider e.g. the following code:

[code]

One realization looks as follows (black lines = Voronoi; red lines = Delaunay; stars = points from `pts`):
![voronoi](https://cloud

[2016-01-14 11:29] skariel commented on #14
yes, its a bug which I fixed locally. Let me fix this here in a few minutes...

[2016-01-14 11:33] skariel commented on #14
fixed now in master, please try and tell me if it works for you

[2016-01-14 11:39] skariel commented on #14
well... not completely fixed. Fixing some more now...

[2016-01-14 11:47] skariel commented on #14
ok, fixed now note it will iterate over the point at the corners of the allowed area too (1,1 1,2 2,1 22)

it looks just fine now:

![index](https://cloud.githubusercontent.com/assets/2347816/12323587/5da69a40-bac5-11e5-9d2a-dc2ceb027cbe.png)

[2016-01-14 13:05] robertdj commented on #14
Great -- thanks!

[2016-01-14 13:05] #14 closed

[2016-02-06 20:28] robertdj commented on #11
Returning to this old issue I have a new question.
I am making code to collect the corners of each Voronoi cell and wonder if I can avoid the corners of the allowed area? I.e., do the corners (1,1), (1,2), (2,1) & (2,2) need their own Voronoi cell?

[2016-02-06 21:01] skariel commented on #11
yes, more or less. You should not draw any line which has a corner as a generator. But then you'll find that a few cells have lines that stop where the corner cell was, whereas now they should actually continue further. This may or may not be a problem, depending what exactly you want to do

Note that I fixed a bug with the generators, please use the latest code in master

if you describe what exa

[2016-02-06 21:11] skariel commented on #11
for cells that don't share an external point ( ie 1,1 1,2 2,1 or 2,2) you should b getting correct corners

The problem is for the cells that do share one of these special points. In this case just ignoring the special points will lead to incorrect corners.

So a solution could be to use some cells that you don't care about as "padding" for the cells that you care about

of course this should be p

[2016-02-06 21:13] robertdj commented on #11
In the end I would like to compute the area of each Voronoi cell intersected with the bounding box (allowed area) and the vector of area should be ordered like the points in tess.

Right now I'm making a Dict where the keys are the generators and the values of a key are the corners of the corresponding cell.
During construction I can check if an edge is related to a special point and make correcti

[2016-02-06 21:16] skariel commented on #11
are you getting good results with your solution? are you concerned with performance?

[2016-02-06 21:19] robertdj commented on #11
I've only just implemented it and haven't tested performance yet :-)
I am concerned about performance -- which is also why I would like to avoid checking and computing too many things.

[2016-02-06 21:20] skariel commented on #11
ok, please update me about the performance, and correctness, when you have some data -- Thanks!

[2016-02-06 21:21] robertdj commented on #11
Sure!

[2016-02-09 10:49] robertdj commented on #11
I'm running into performance problems: The generators of an edge may not be *exactly* equal to the original points in a `tess`, so instead of simply working with `Dict[ generator ]` I have to search through `keys[Dict]` for an approximate match...

[2016-02-10 09:59] skariel commented on #11
I don;t understand -- if you iterate over the `voronoiedges(tess)` then the generators that `edge.getgena()` et al give you are just pointers to the original generators. Also you can put an index inside of them, no `dict` is needed. Best if you can write here some minimal code that does what you want, I can try to examine and fix it...

[2016-02-10 17:42] robertdj commented on #11
I had not realized that `getgena` etc gave pointers, but in that case it *is* weird... I've been writing some code -- let me collect it and upload.

[2016-02-14 19:25] robertdj commented on #11
Sorry about my long absence! I started thinking about indexing generators and forget to reply. Are you thinking about adding and index to `AbstractPoint2D`?

[2016-02-14 19:28] skariel commented on #11
see comments above -- you can easily add your own index (or whatever other data) into a point by subtyping `AbstractPoint2D`

to quote myself:

You have to use your own Point2D type with an index, something like
[code]
You have to implement getx, gety, etc. and then extract the corners as above

[2016-02-14 19:30] skariel commented on #11
it may be worth adding a default indexed poit2d though... I'll open a separate issue on this

[2016-02-14 19:31] skariel opened #15 "consider adding a default indexedpoint2D"
see ref here  #11

[2016-02-14 19:33] robertdj commented on #11
Right!

[2016-02-26 09:42] robertdj commented on #11
I hope I'm not missing something obvious, but I'm having problems with an `IndexablePoint`:

[code]

When I try to push points to a tess with `IndexablePoint` I get an error:

[code]

Also, is it not a problem that the four corners doesn't have a default index, cf. #6 ?

[2016-02-26 12:13] skariel commented on #11
it works (and with no warnings) when doing the following:

1) use the latest code do a `Pkg.checkout('GeometricalPredictes')` and `Pkg.checkout('VoronoiDelaunay')`
1) explicitly import `getx` and `gety` from `VoronoiDelaunay` to override them
2) `IndexablePoint` needs a constructor with just the coordinates `(x,y)`
3) the index used for the outer corners will be the index given in the constructor

[2016-02-26 19:44] robertdj commented on #11
Now my code runs -- and fast, too :-) What is a good way to share? Should I make a new repository?

[2016-02-26 20:05] skariel commented on #11
what exactly your codes does? this repository is only for the library... is your code relevant for the library? if its just using the library then yeah you should make a new repo. If it adds some functionality that could belong in the library then maybe it can be merged

[2016-02-26 20:34] robertdj commented on #11
Collects corners of each Voronoi cell and at some point I would like it to compute the area of each cell.
I'm not sure it is suited for this library as it falls in the 'application' category.

[2016-02-26 20:49] robertdj commented on #11
BTW: Is it possible to exclude the corner points from the tessellation?

[2016-02-26 21:06] skariel commented on #11
currently there is no good solution, I have to implement point deletion and then just remove those... currently wht everybody does is just check in the loop for the corners and just skip them...

[2016-04-03 18:14] robertdj commented on #11
Do you have a reference that describes how to implement point deletion? If so, I'd be happy to look into implementing it.

[2016-04-04 16:54] skariel commented on #11
ghost points are points from different processors, its good for making the algorithm distributed, not exactly what e need right now :)

Regarding removing points, I have no reference, I have to research this a bit, there are algorithms of course its just a matter of finding the literature

[2016-04-04 19:54] robertdj commented on #11
I have found some references on how to remove points, but that is for half point and quad edge data structures...

[2016-04-16 07:06] cortner commented on #6
Can I just confirm something: when I create a tessellation and then plot it, the reason what I see is not convex are the virtual points at the corners?

[2016-04-16 07:22] skariel commented on #6
@cortner can you attach an example plot? I think Delaunay tessellations should not be convex, and Voronoy ones just fill the whole space... so I don;t know what you mean. Maybe in your case the corners so affect the shape that you expect, it's possible. Just work further away from the corners where they don't affect the result

[2016-04-16 07:28] cortner commented on #6
@skariel i am pretty sure the Union of triangles should be the convex hull of the vertices. I can attach a figure later.

[2016-04-16 07:38] skariel commented on #6
I know a theorem that says that a Delaunay tessellation is th convex hull of the `n+1` dimensional elevation for e.g. a tessellation in 2D has points `(x,y)` and `3D` points `(x,y, x*x+y*y)` in this case the projection of the convex hull of the 3D configuration is the 2D tessellation. But the 2D tessellation does not need to be convex. Imagine using just 3 points... the Delaunay tessellation would

[2016-04-16 08:06] cortner commented on #6
@skariel

I can only imagine that we are having a clash of terminology, you are probably referring to the set of edges, whereas I am referring to the union of the triangles (incl interior), I guess I should have said *triangulation* instead of *tesselation*?

Anyhow, checking on Wikipedia, the *Delauynay triangulation* triangulates the convex hull of the set of vertices.

[2016-04-16 12:58] cortner commented on #6
@skariel

In trying to debug my example to post it here I ran into another problem. If you think this should go somewhere else, I can delete the post and re-post as a separate issue, (but possibly it is just due to a misunderstanding of mine).

[code]
Here is the output:
<img width="694" alt="screen shot 2016-04-16 at 09 07 37" src="https://cloud.githubusercontent.com/assets/7688515/14579891/b8be4

[2016-04-16 13:13] skariel commented on #6
@cortner you are pushing random points into the tessellation instead of points from `X`:

`push!(tess, array2points(1.0 + rand(2, 10)))`

other than that, you are right about Delaunay tessellations being convex. Indeed the function `delaunayedges` does not iterate over edges going to the corner "external" points. This was the case for the `voronoiedges` method too but in master it's changed to ite

[2016-04-16 13:20] skariel commented on #6
@cortner here is what it looks like with my code:
![index](https://cloud.githubusercontent.com/assets/2347816/14581196/fb5be386-03ee-11e6-9867-9ce4b323e5cd.png)

and the code:

![screenshot from 2016-04-16 16 19 51](https://cloud.githubusercontent.com/assets/2347816/14581199/110374a6-03ef-11e6-9c42-1203dffa5d41.png)

[2016-04-16 13:28] cortner commented on #6
sorry - that is embarrassing, and thank you for catching it. I was just about to post the correction.

In your picture you see exactly my issue. The second point from top in the top left corner is a re-entrant corner. This is possible for constrained Delaunay triangulations, but not for actual Delaunay triangulations. I ran another example; you can see the result below.

## VoronoiDelaunay

<img w

[2016-04-16 13:29] cortner commented on #6
@skariel I am pretty sure what happened is that you removed all triangles that have the corners of the cube as one of their vertices. I am also pretty sure that the result is therefore not a Delaunay triangulation.

[2016-04-16 13:32] skariel commented on #6
@cortner it's just the iteration function `delaunayedges` that does not iterate over the corners, and originally it was on purpose. I already changed this for Voronoi edges, I'll change it now for delaunay too.

The tessellation includes the corners too, I didn;y implement yet a method to remove points hence I'm not removing the corners

[2016-04-16 13:35] skariel commented on #6
@cortner here's my result when commenting out the single line that is responsible for skipping the corners. As you can see this is a perfectly good Delaunay tessellation:

(the line is `isexternal(tr) && continue` in the `delaunayedges` function:

![screenshot from 2016-04-16 16 34 11](https://cloud.githubusercontent.com/assets/2347816/14581264/33deaebc-03f1-11e6-9b16-55b4b7ec64e4.png)

[2016-04-16 13:40] cortner commented on #6
@skariel Unfortunately, this is not useful for me - since I need to know that I am getting the convex hull of my vertices. So if I understand correctly then you can fix this by implementing a method to remove points from the triangulation. open an issue?

[2016-04-16 13:41] skariel commented on #6
@cortner yes please open an issue that's an important missing feature!

[2016-04-16 13:46] skariel commented on #6
@cortner actually removing the corners is much easier than removing a general point, so there are 2 mising features here:

1) remove a general point -- this is a bit hard
2) remove only the corners -- this is easy

[2016-04-16 13:54] skariel opened #16 "remove points on corners"
see #6

[2016-04-16 13:55] skariel commented on #6
@cortner I opened an issue

[2016-04-16 16:40] cortner commented on #16
just leaving a comment so I get an update. (FYI, This is one of the issues why I don't use VoronoiDelaunay yet.)

[2016-04-20 07:46] robertdj opened #17 "Restrict Voronoi edges to [1,2]^2"
The Voronoi edges near the edges of the square [1,2]^2 often have an endpoint way outside of the square. Is it possible -- in the `voronoiedges` function -- to restrict the line segments such that both endpoints are always inside or on the border of the square?

[2016-04-24 14:48] skariel commented on #17
the current behaviour is correct, the only thing restricted inside the allowed region is the generator points, so yes, the Moroni cells can go outside, I don't see a problem here

[2016-04-24 19:11] robertdj commented on #17
It's definitely correct if you want the unrestricted Voronoi tesselation. But sometimes I want the intersection of the tessellation with allowed region. It's of course possible to compute intersections between the line segments and the square, but it would be nice to avoid it.

[2016-04-25 20:20] skariel commented on #17
you have a point, I'm tagging this as "enhancement"

[2016-05-04 06:13] robertdj commented on #11
FYI, I've collected the code I mentioned above in a [package](https://github.com/robertdj/VoronoiCells.jl).
I'm thinking of a post-processing hack to remove the corner vertices, but if you find a reference for doing this as part of `voronoiedges` I'd still be happy to look into it.

[2016-05-04 06:13] #11 closed

[2016-06-24 09:17] robertdj opened #18 "Tag latest version"
Is it possible to tag the lastest version of this package and GeometricalPredicates? It would be nice to have a number for a `REQUIRE` file :-)

[2016-06-27 21:14] Atraii opened #19 "LoadError: indexing Images.Image"
The example file is no longer usable. With the latest master I'm getting:

LoadError: indexing Images.Image{ColorTypes.BGRA{FixedPointNumbers.UFixed{UInt8,8}},2,Array{ColorTypes.BGRA{FixedPointNumbers.UFixed{UInt8,8}},2}} with types Tuple{Tuple{Int64,Int64}} is not supported
while loading In[1], in expression starting on line 9

If the @compat is removed, the code runs, but the output image is ver

[2016-07-12 08:57] tkelman commented on #18
cc @skariel? or maybe @simondanisch? Also see https://github.com/JuliaGeometry/VoronoiDelaunay.jl/pull/20, the `REQUIRE` change will be needed for a tag anyway

[2016-07-12 09:01] skariel commented on #18
hi! i'm here

I'd be happy if someone wants to collaborate on this,
will take me some time otherwise

[2016-07-12 09:06] tkelman commented on #18
Only thing needed from you would be merge https://github.com/JuliaGeometry/VoronoiDelaunay.jl/pull/20 if you approve of that change (at least the REQUIRE fix is necessary), then tag the package and submit a PR to METADATA. Anyone else with JuliaGeometry commit access should be able to do so.

[2016-07-12 09:11] skariel commented on #18
merged. will tag later today. Need to read/remember how to do that

[2016-07-12 11:26] robertdj commented on #18
Thanks for the access @SimonDanisch . I haven't tried organizations before. Should I move the package to `JuliaGeomerty` (once the release is ready)?

[2016-07-12 11:38] SimonDanisch commented on #18
Yeah, would be great :)

[2016-08-04 20:02] robertdj commented on #18
@skariel it doesn't look like you have published a new version/tag?

It's described above this section in the docs: https://julia.readthedocs.io/en/release-0.4/manual/packages/#publishing-metadata-manually

[2016-08-05 08:14] skariel commented on #18
done. see here: https://github.com/JuliaLang/METADATA.jl/pull/5836

[2016-08-05 18:43] robertdj commented on #18
Thanks! Have you also committed a tag for GeometricalPredicates?

[2016-08-05 20:21] skariel commented on #18
Yes - I just updated the PR

[2016-08-07 07:32] skariel commented on #18
all merged. Closing this issue :)

[2016-08-07 07:32] #18 closed

[2016-08-07 22:52] juliohm opened #21 "Retrieve list of connectivities"
Can we retrieve the list of connectivities with this package? The main purpose of creating a triangulation is to be able to get the triangles back, right?

[2016-08-08 14:22] swt30 opened #22 "Import syntax is incompatible with julia 0.5"
`import Base.!` no longer works in julia 0.5 because .! now parses as a call to `broadcast`, or something along those lines.

[2016-08-08 14:22] swt30 commented on #22
Oops, put this in the wrong repo, sorry about that

[2016-08-08 14:22] #22 closed

[2016-08-08 16:24] skariel commented on #21
yes, of course. There's a sample in the README. You iterate over the edges like this:

[code]

each edge has a function `geta()` and `getb()` to get the original nodes.

you can also walk the tessellation. First locate a triangle:

[code]

then walk:

[code]

you can also just iterate over triangles. The api is very general. If there is something you want to do but are unable, just file a feature

[2016-08-09 01:56] juliohm commented on #21
Ok, I didn't see the iteration over triangles in the README. Closing the issue.

[2016-08-09 01:56] #21 closed

[2016-08-09 11:56] swt30 opened #24 "Test errors and failures"
I am getting test errors like this on 0.4:

[code]

and test failures like this on 0.5 (won't run on Travis until a new version of GeometricalPredicates is tagged):

[code]

This may be different manifestations of some kind of scoping bug in `@testset`s, given that the only change was that I wrapped the entire set of tests in `@testset begin ... end`. I'm looking into it.

[2016-08-09 12:00] swt30 commented on #24
May be related to https://github.com/JuliaLang/julia/issues/17170

[2016-08-09 12:12] swt30 commented on #24
Actually I think it's https://github.com/JuliaLang/julia/issues/17908 because there are continue statements in these tests.

[2016-08-09 15:46] swt30 commented on #24
The PR fixes the 0.4 issues, but I have some tests returning different results or hanging on julia 0.5. This example causes my machine to hang on julia 0.5 but not julia 0.4:

[code]

[2016-08-09 18:03] swt30 commented on #24
OK, it's because there's something in julia 0.5 which is resulting in incorrect triangulations. Here's random points added to a tessellation. v0.4 does not have this issue. Wonder what it could be?

![delaunay](https://cloud.githubusercontent.com/assets/6207820/17527572/cb14b4da-5e63-11e6-81bb-b8efed390a68.png)

[2016-08-11 17:25] swt30 commented on #24
If you would like to reproduce this, try running the following on julia 0.4 and 0.5. On 0.4 everything is fine; on 0.5 it will botch the triangulation and then hang after a few points.

[code]

[2016-08-12 17:10] swt30 commented on #24
This is a *very* elusive bug. I have pinned it down to deep within the behaviour of `push!`, more specifically in the `_flip` functions. Some triangles are ending up with coincident points once `_restoredelaunayhood!` is called, and this is ruining the tessellation. However, when I enter the method with the Gallium debugger, I get different results, which is confusing me to no end.

[2016-08-12 22:16] swt30 commented on #24
The problem turned out to be in lines like this:
[code]
It looks like there was some kind of weird inlining behaviour where `geta(ot2)` was not evaluated first like you might expect, but instead was evaluated after `ot2._a` had already changed. This caused the a and c points to become the same for some triangles. I worked around this by doing `geta(ot2)` on the previous line instead.

I assume the

[2016-08-14 10:47] skariel commented on #24
closed by mistake

[2016-08-14 10:48] skariel commented on #24
ahh sorry. Its good that I closed it

[2016-08-14 10:48] #24 closed

[2016-09-08 06:26] tlycken commented on #16
I have a need for a meshing algorithm like this one, and started investigating if this package would fill my needs. It seems wonderful, except for this issue :)

I'm almost entirely unfamiliar with the mathematics behind the algorithm here, but as far as I can understand from reading through #6, the problem arises because of these two facts:

* A Delaunay tesselation requires at least three points

[2016-09-08 07:43] skariel commented on #16
@tlycken see how the [VoronoiCells](https://github.com/JuliaGeometry/VoronoiCells.jl) package removes corners in this [document](https://github.com/JuliaGeometry/VoronoiCells.jl/blob/master/doc/remove_bounding_box.md).

Basically, you can use an inner square region 1.27 .. 1.75 (instead of 1 .. 2) then all connections between your nodes are real, and you can just ignore the four outside nodes when

[2016-09-08 14:11] tlycken commented on #16
Well, that might work for Voronoi cells, but IIUC it won't for Delaunay (which is what my use case needs). Maybe I'm wrong, but won't the Delaunay tessalation still miss the outer edges?

[2016-09-08 14:13] tlycken commented on #16
Btw, @cortner: You can click the "subscribe" button to the low right and get notifications without having to comment :)

[2016-09-08 14:19] skariel commented on #16
@tlycken if Voronoi is good Delaunay has to be too, and the vice versa. They can be built from each other, this is how this library works: the internal representation is Delaunay triangles. So this should work, you can try and test this

[2016-09-08 14:20] skariel commented on #16
and of course keep me updated ho it works for you :)

[2016-09-08 17:38] tlycken commented on #16
I think my use case could be enlightening on why the current implementation doesn't really work the way I think it should. I'm working on [implementing linear interpolation of an irregular 2D dataset](https://github.com/tlycken/Interpolations.jl/issues/118), and my approach was going to be the following:

1. Take the (x,y) coordinates of the data and construct a Delaunay tesselation from them.
2.

[2016-09-08 17:51] skariel commented on #16
@tlycken in the example above you didn't follow the suggested solution. Your points are still outside of the square 1.25 .. 1.75. If you put the points inside and ignore the corners all connections are what you need and expect. Try this, do the same plot but scale the points a bit further, you'll see it works

[2016-09-08 17:52] skariel commented on #16
actually, let me draw this, just one minute

[2016-09-08 17:59] skariel commented on #16
here, see image below, it works just perfect:

![screen shot 2016-09-08 at 8 58 33 pm](https://cloud.githubusercontent.com/assets/2347816/18360553/1bd722b2-7607-11e6-8e5f-e3b347d26a91.png)

[2016-09-08 18:02] skariel commented on #16
ahhh wait a sec... Im wrong.

[2016-09-08 18:09] skariel commented on #16
OK solved it -- 1.25 .. 1.75 is just not enough. Try 1.45 .. 1.55 like in the image below. Now everything is perfect:

![screen shot 2016-09-08 at 9 08 20 pm](https://cloud.githubusercontent.com/assets/2347816/18360883/827e7bea-7608-11e6-9440-6ec827c67f7b.png)

[2016-09-08 18:11] tlycken commented on #16
But is this *always* good enough to get a convex hull? Is it *provably* so? Or is it just good enough to hide from plain sight the fact that it isn't a convex hull anymore? :)

(I'm asking out of honest curiosity, not out of spite...)

[2016-09-08 18:12] skariel commented on #16
I think it's always good to create a convex hull... I guess this can be proven mathematically, and probably I'll look into it but for now I run several configurations and all are convex

[2016-09-08 18:14] skariel commented on #6
@cortner the most simple solution to this is just scale the points to an inner square, like in the image I attach below. Probably I'll fix this whole issue by just changing `mincoord` and `maxcoord` values:

![screen shot 2016-09-08 at 9 08 20 pm](https://cloud.githubusercontent.com/assets/2347816/18361052/2f5a1996-7609-11e6-9da4-e3ffe7cf3c01.png)

[2016-09-08 18:17] skariel commented on #16
also -- I'll mathematically find the largest region in which points are safe to being inserted in, as a prerequisite for really solving this issue

[2016-09-08 18:23] skariel commented on #16
actually, this doesn't work perfectly. I'll just have to implement point removal the hard way...

please don;t use this method. Sorry for that

[2016-09-08 18:23] skariel commented on #6
@cortner actually, this doesn't work perfectly. I'll just have to implement point removal the hard way...

please don't use this method. Sorry for that

[2016-09-08 19:17] tlycken commented on #16
Well, we might not be able to remove points; it might be enough to just not start doing the actual edge flipping until the user adds the fourth point. Then you have to handle adding external points instead, but I don't know which is hardest to implement.

[2016-09-08 19:23] cortner commented on #16
@tlycken if you need a temporary replacement, have a look at [fem.jl](https://github.com/cortner/LujiaLt/blob/master/src/fem.jl)

I am hoping to replace this eventually with `VoronoiDelaunay`

[2016-09-11 16:35] tlycken commented on #6
@cortner If you only needed to get the complex hull of a set of points (and not the triangulation of the interior), you could take a look at [my new package](https://github.com/tlycken/QuickHull.jl) (it will be available by `Pkg.add("QuickHull")` once [this PR](https://github.com/JuliaLang/METADATA.jl/pull/6323) merges, but for now you'll have to use `Pkg.clone()`).

[2016-09-11 16:46] cortner commented on #6
I am actually after the triangulation. I just want to make sure I get the Delaunay triangulation and not something that I am not sure how it's a defined.

I now actually think that I can make VoronoiDelaunay produce exactly what I want - I jut haven't had time to make the switch.

[2016-09-17 16:55] tlycken commented on #16
@skariel I've spent some time reading up on the maths, and it seems it's valid to just remove the corners (and all edges to them) if you start with a *triangle* rather than a rectangle. In other words, a simple fix might be to do two things:

* Remove the top corners from the starting state, and instead add a single point at `(1.5, 2)`, so that the initial state before the user starts adding verti

[2016-09-18 17:11] skariel commented on #16
That's interesting... I did't know this. This might just be the easiest way to fix this issue. I'll implement it when I have some time

Thanks!

[2017-02-22 04:11] juliohm opened #27 "Can we automatically handle points outside of the [1,2] interval?"
I understood that we have to manually normalize point coordinates to the square [1,2]^2. Why not do this step for the user automatically? IMHO, this would improve the usability of the package by a lot.

[2017-02-22 04:14] juliohm opened #28 "Fix indentation in the source"
The source code has mixed indentation, it shows up completely misaligned in my text editor.

Please consider removing all tabs and using spaces only: http://softwareengineering.stackexchange.com/questions/57/tabs-versus-spaces-what-is-the-proper-indentation-character-for-everything-in-e

[2017-02-22 04:53] juliohm commented on #19
This issue is still valid in Julia v0.5.

[2017-02-22 04:59] juliohm commented on #6
This package is great, but it definitely misses the option of indexed points. Very often after the tesselation one needs to post-process the result, discard points and edges for example.

I am gonna try the hack proposed by @dfdx , but it would be great to have this as a main feature of the package.

[2017-02-22 05:23] juliohm commented on #28
Can I send a PR?

[2017-02-22 18:00] robertdj commented on #6
Admittedly, I haven't read the whole thread, but consider the https://github.com/JuliaGeometry/VoronoiCells.jl package for working with indexed points.

[2017-02-22 18:05] juliohm commented on #6
Hi @robertdj, I have a solution already with the proposed IndexedPoint2D from @dfdx. My comment was just to emphasize that very often we need to post-process the tessellation using the indexes. It is strange that the package doesn't support it by default. Actually it would be much more simple in my opinion to use raw Julia Arrays for storing vertices and edges instead of this AbstractPoint2D wrapp

[2017-02-22 18:57] robertdj commented on #6
I completely agree with

This is one reason why I made VoronoiCells :-)

I don't know if this was @skariel 's motivation, but raw Julia Arrays are/were not the most lightweight data type in Julia.

[2017-02-23 11:58] skariel commented on #28
please send a PR, I prefer 4 spaces.   Thanks!

[2017-02-23 12:02] skariel commented on #27
doing so automatically is not the best for performance, which is a big goal of this package. For e.g. if the user can use appropriate coordinates without rescaling, then this automatic rescaling would just waste time

[2017-02-23 16:53] juliohm commented on #27
So make it an option that is disabled by default. I value performance too, but we shouldn't have an ugly API for things, specially when we are talking Julia: performance + clean code.

If the user wants to manually scale things, fine, but in most use cases people don't want to deal with it. Plus, if a new user doesn't read the README carefully he/she will run the code without scaling and get unexp

[2017-02-23 16:59] skariel commented on #27
I agree overall, but it's not that simple. For example if inserts immutable points and then iterates over edges, the points will have to be rescaled in the iteration, regardless of the inner representation. One simple thing we could do for safety is for the default functions to assert the points inserted are in the correct region

[2017-02-23 17:05] juliohm commented on #27
Yes, this is exactly the idea. Re-scale the points inside of the tessellation algorithm and map them back to the user. If someone doesn't want to have the re-scaling happening inside of the tessellation algorithm for some reason that I still don't understand, they will pass an option to disable it (e.g. scale=false) and will handle the scaling in the way they wish.

[2017-02-23 17:40] #28 closed

[2017-07-03 15:35] juliohm opened #31 "Task iteration is now deprecated"
In Julia v0.6, the package is emitting a set of warnings, but I am not sure how I can fix them:

[code]

Stacktrace:
 [1] depwarn(::String, ::Symbol) at ./deprecated.jl:70
 [2] start at ./deprecated.jl:977 [inlined]
 [3] anonymous at ./<missing>:?
 [4] include_from_node1(::String) at ./loading.jl:569
 [5] include(::String) at ./sysimg.jl:14
 [6] process_options(::Base.JLOptions) at ./client.jl:305

[2017-07-03 19:21] skariel commented on #31
fixed in latest master

[2017-07-03 19:21] #31 closed

[2017-07-03 20:13] juliohm commented on #31
Awesome, thank you.

[2017-07-21 09:30] robertdj opened #32 "New releases are needed for v0.6"
Both GeometricalPredicates and VoronoiDelaunay works without warnings with Julia v0.6 **on the latest version of their master branch**.
I think new releases should be made that drop support for anything below v0.6 as there are breaking changes (this will also fix the "build failing" Travis flag :-)).

My question is: What should we bump -- `:patch`, `:minor` or `:major`? I'm leaning towards `:mino

[2017-07-22 06:47] robertdj commented on #32
@skariel

[2017-07-22 19:19] skariel commented on #32
@robertdj great! lets bump minor

[2017-07-22 19:33] #32 closed

[2017-08-10 14:40] nako95 opened #34 "Union of triangels is not always equal to the convex hull?"
I'm using this package on Julia 0.5.2 and I sometimes get that the union of the triangles in the triangulation does not equal the convex hull of the points, which is a property of Delaunay triangulation. I include an easy example to show this:
[code]
When using the first shape the union of the triangles in the triangulation does not equal the convex hull of the points but when using the second sha

[2017-08-11 18:37] skariel commented on #34
see issue #16 , this is know behaviour. The solution will be to use 3 points instead of 4 as the initial embedding.

[2017-10-06 12:20] goggle opened #36 "Adding Point (0.0, 0.0) takes forever."
I wanted to get a simple triangulation of the domain (0,1)^2. So i did the following:
[code]
Adding the point (0.0, 0.0) gets me stuck in a infinite loop or something... Is this expected behavior? Or am I doing something wrong?

[2017-10-08 11:10] robertdj commented on #36
Not sure if this is stated explicitly in the README, but the minimum coordinate is 1 + `eps(Float64)`.

[2017-10-08 15:20] skariel commented on #36
yes it is, in the [current limitations](https://github.com/JuliaGeometry/VoronoiDelaunay.jl#current-limitations]) section. This is expected... and not a bug. closing for now

[2017-10-08 15:20] #36 closed

[2018-05-29 10:37] mschauer opened #37 "Use append!"
This should use `append!` instead of `push!` for arrays of vertices, right?

[2018-05-29 15:22] mschauer commented on #37
Actually, it should be a different function name alltogether because it modifies the second argument as well and therefore does not follow the push! or append! interface at all.

[2018-05-29 19:27] mschauer commented on #16
I just ran into this, just affirming that there is still interest in this.

[2018-06-05 08:54] mkborregaard opened #38 "indefinite hang on `push!`"
I have a weird bug where `push!` hangs indefinitely on a certain data set. I pushed one by one and found that any point added after the first 66 points hangs. Here are the points
[code]
After easily adding all the black points, adding any of the red points will cause the session to hang/crash
<img width="529" alt="skaermbillede 2018-06-05 kl 10 07 31" src="https://user-images.githubusercontent.com

[2018-06-05 11:28] mkborregaard commented on #38
Ah. I think it happens when two points are within eps() distance from each other.

[2018-06-06 06:39] mkborregaard commented on #38
Should there be a check that either errors or removes duplicate points with a warning, to prevent the indefinite hang?

[2018-06-07 06:46] robertdj commented on #38
Well spotted! Unfortunately, I don't have time to look into this at the moment.
But what would be the preferred behavior? Error or warning?

[2018-06-07 07:03] mkborregaard commented on #38
I think the preferred behaviour would be an error but with an option to thin. In my case for instance the identity of the points are important (they belong to different genetic lineages) so I'd prefer to get an error then do the thinning manually to be in control, but for most geometric uses I guess automatic thinning is preferable.

[2018-06-07 10:51] robertdj commented on #37
Any suggestions for a good name?

[2018-08-13 15:57] gabor1 commented on #27
Limitations are fine, and _eventually_ I even found this in the README (skipped over it on the first two reads because that sentence talks about `eps` and other detail, rather than telling me about the single most important limitation in the package). But _surely_ the fact that the `push!` function just hangs on a point outside the [1,2] square is silly. Yes, it was my fault, but I just wasted hal

[2018-08-13 16:43] gabor1 commented on #6
Is there an easy way to get indexable Delaunay triangles? what I need to do is to do a tessellation, then pick a new point, and find out which three points (as indices into the original generators) form the triangle that my new point is in.

[2018-08-13 16:57] cortner commented on #6
that should be standard - but if VoronoiDelaunay doesn't do it, then as a fallback `scipy.spatial.Delaunay` for sure has this option via `tri.find_simplex`.

[2018-08-22 11:45] natschil opened #40 "Compilation errors on julia 1.0"
It seems like this package does not work on julia 1.0, is anyone looking into how this could be fixed?

I currently get errors like this one:

[code]

[2018-08-29 17:45] skariel commented on #40
I'll look into it

[2018-09-21 09:30] VPetukhov commented on #40
I've met some problems with deprecations because of old version of GeometricalPredicates package. Maybe it's your case. I created PR for fixing it: https://github.com/JuliaGeometry/VoronoiDelaunay.jl/pull/41.

[2018-09-24 08:28] dkarrasch commented on #40
Fixed by #42.

[2018-09-24 08:28] #40 closed

[2018-09-24 09:36] dkarrasch opened #43 "adopting to the new iterator interface"
Upon testing `VoronoiDelaunay.jl` in Julia v1.0, I get a warning that `start`, `next` and `done` cannot be imported from Base. That is correct, since the iterator interface has changed from Julia v0.6 to Julia v0.7 (strangely enough, this has not been deprecated in Julia v0.7; there are no warnings there!). The old iterator interface is abandoned now in Julia v1.0, so I'm confused tests pass anywa

[2018-09-29 11:15] #43 closed

[2018-09-29 16:11] mkborregaard opened #45 "1.0 compatibility"
This seems to be one of the packages that have been automatically capped to julia 0.6. Are you planning to issue a 1.0-compatible release soonish? I see that there's active updating going on to that effect :-)

[2018-09-29 17:54] skariel commented on #45
I can use it fine with Julia v1.0.0, just tested. Only a couple of warning when `using` but otherwise all good...

[2018-09-29 19:14] mkborregaard commented on #45
Awesome, then it's possible just a case of pushing a release (it won't install because of the auto-cap).

[2018-10-22 02:52] fgasdia opened #47 "Performance of iterating with `delaunayedges`"
Iterating over `delaunayedges` is a few hundred times slower and makes significant allocations compared to directly iterating over a DelaunayTessellation2D for triangles.

Example:

[code]

[code]

[code]

Any idea on how to make this faster? When I have thousands of points the `delaunayedges` iteration time is significantly large for my application.

[2018-10-22 20:13] skariel commented on #47
I'll take a look into it...

[2018-10-22 20:28] skariel commented on #47
ok. Some results. The function `delaunayedges` creates another function (a task in fact) and you are timing its compilation time. So doing the following brings down the timing  20x:

[code]

That being said, this solution is not good for everybody and the performance is not good enough. The correct solution is to write a proper iterator. I'll do this, it will take a few days though...

[2018-10-22 20:30] skariel commented on #47
I fixed the example above...

[2018-10-27 15:47] mkborregaard commented on #45
I did, thank you!

[2018-10-27 15:47] #45 closed

[2018-11-04 22:01] EP-Guy commented on #47
Thanks for looking into this. I'll appreciate the proper iterator when you have time for it.

[2019-01-14 22:19] afasc commented on #8
I am currently looking for a way to perform 3D Delaunay and Voronoi tessellations of a given pointset. Has this progressed any further?

[2019-03-28 18:09] jondeuce commented on #38
Is there any progress on this issue? I, too, have run into this problem. As @mkborregaard suggested, an error with an option to thin would be great. I would be willing to help, of course, though I'm not sure how the thinning would be implemented.

[2019-04-17 20:50] dlfivefifty commented on #38
Here seems to be a minimal example:
[code]

[2019-04-18 19:20] robertdj commented on #38
@dlfivefifty : This example probably fails because both coordinates have to be between 1 and 2.

[2019-04-18 19:46] dlfivefifty commented on #38
Ah ok, in that case an `ArgumentError` should be thrown.

[2019-04-18 19:53] robertdj commented on #38
@mkborregaard : I'm trying out your data and also see that the computations never seem to finish. I have narrowed it down to the function `findindex` with a never ending loop (`while true`) that has to break inside the loop.

One question: How did you reach the conclusion about `eps()` distance? All your points seem further apart than this.

[2019-04-18 19:55] robertdj commented on #38
@dlfivefifty : Good point. This input restriction has been discussed quite a few times :-) I'm actually not sure what the status is.

[2019-04-18 20:16] robertdj commented on #38
@skariel : It seems that mkborregaard's point number 67 cannot be assigned to a triangle in `findindex`, as `GeometricalPredicates.intriangle` alternates between the non-acceptable outputs -2 and -3.
Can you shed lights on why we don't eventually exit?

[2019-04-19 06:35] mkborregaard commented on #38
I think the method that only takes (1,2)-interval coordinates should be an internal low-level function for connoisseurs and there should be a convenience method automatically rescaling.

[2019-04-19 06:36] mkborregaard commented on #38
@robertdj I don't remember? But afair I had some identical points, these created errors.

[2019-04-19 10:45] robertdj commented on #38
@mkborregaard : My moment of not having time also lasted a while :-) Regarding this bug I would need to spend quite some time to dig into the internals of both VoronoiDelaunay and GeometricalPredicates, so I cannot make any promises about a resolution.

BTW, I agree that it would be a good idea to automatically scale points. I do this in VoronoiCells, but it would make sense to move it to VoronoiD

[2019-07-19 14:17] CarpeNecopinum commented on #47
As a temporary fix, we could also use an eagerly allocating variant like:
[code]

Tested on my dataset (2.7M tris) it caused a ~10x speed-up over the Channel-based variant.
I also eliminated the need for the visited array (reduces the runtime by a few percent still).

[2020-01-10 19:45] javieryu opened #51 "Missing delaunay edges"
I am using ```delaunayedges``` to create a graph from the a random distribution of points, but in cases where voronoi cells only have one neighbouring voronoi cell (for instance 3 points on a line) then the there are no delaunay edges.

### Working example
Here is an example where the proper delaunay edges appear:
![Selection_054](https://user-images.githubusercontent.com/17129398/72181295-de42720

[2020-03-04 16:03] fverdugo commented on #8
Hi! In our lab, we have implemented a simple Julia wrapper to Qhull in order to compute Delaunay triangulations in arbitrary dimensions.

https://github.com/gridap/MiniQhull.jl

We interface with Qhull via `ccall`  (instead of `PyCall`), so you don't need to install scipy in your system, just Qhull itself and a C compiler.  Moreover, we are using the re-entrant version of Qhull. Thus, our wrapper

[2020-06-28 16:46] natschil commented on #38
There is a pull-request that addresses the rescaling issue: https://github.com/JuliaGeometry/VoronoiDelaunay.jl/pull/50

[2020-10-20 19:11] jstarczewski commented on #38
@robertdj Hello, what the status of this?

[2020-10-21 18:39] robertdj commented on #38
@natschil I had not seen your PR -- sorry! But I'm so out of sync with this package that I don't think it makes sense for me to make decisions about a PR

[2020-10-31 14:31] bchaber commented on #38
I'm investigating the root cause of the error, with no luck so far. Looking at @mkborregaard's point set I can see that after adding the first 66 triangles, the resulting tesselation contains triangles composed of the same vertices (however in a different order). This confuses `findindex` as it is stuck in an infinite loop. When I manually set `vd._last_trig_index` before pushinig 67th point it wo

[2020-11-01 12:17] natschil commented on #38
@bchaber not directly related, but I've re-written the package to deal with the issue addressed in #50 (non-convex tesselations), that kind of does rescaling (but I think poorly, there is still a bug somewhere) and also have some fixes caused by co-linear points.  I would like to improve the code and document it some more, but in case you are interested, it can be found in https://github.com/natsc

[2020-11-01 20:11] bchaber commented on #38
Thank you @natschil, I've checked out your forks. They of course *work* for the data points in the first post.

[2020-11-01 22:49] natschil commented on #38
Maybe it's an issue with colinear points? I had some problems previously with triangles being added that were degenerate, and GeometricalPredicates.jl didn't return the correct return value. I convinced myself that my "fix" actually fixes the issue, but it is somewhat hacky so it might still fail sometimes.

Note that the space of "allowed" points is smaller than [1,2]x[1,2], so I do something res

[2021-01-02 14:45] robertdj commented on #38
I have another 5 cents to add: The [Deldir package](https://github.com/robertdj/Deldir.jl) handles the problematic point set. It seems to be because it first sorts the points in a suitable way.
Using the same sorting also allows VoronoiDelaunay to handle the points:

[code]

The sorting is performed in the wrapped Fortran code, so I don't know how it actually works.
(Note that the `DeldirArguments

[2021-03-30 14:50] juliohm opened #54 "Buggy Voronoi edges"
Can you please confirm that the voronoiedges function is working as expected?

I have a valid Delaunay tesselation:

![image](https://user-images.githubusercontent.com/3345261/113009109-0a3a4680-914e-11eb-9090-80ea0aefe0cb.png)

but the corresponding Voronoi diagram does not look at all correct:

![image](https://user-images.githubusercontent.com/3345261/113009222-24742480-914e-11eb-9439-26a369b69

[2021-08-20 09:46] blegat opened #55 "Failure with 4 points"
There are issues reporting incorrect result with `delaunayedges` https://github.com/JuliaGeometry/VoronoiDelaunay.jl/issues/51, and `voronoiedges` https://github.com/JuliaGeometry/VoronoiDelaunay.jl/issues/54.
This issue might be related but it's about the iterator on delaunay triangles.
I tried to make a minimal reproducing example with only 4 points:
[code]
Here is one with 3 points:
[code]

[2022-02-17 11:16] dkarrasch commented on #55
For some reason, all triangles are identified as external, and hence omitted from the iteration.

[2022-02-17 11:55] #47 closed

[2022-02-17 13:10] JuliaTagBot opened #60 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2022-07-05 15:04] sjkelly opened #62 "Native 32 bit support"
xref: https://github.com/JuliaGeometry/GeometricalPredicates.jl/issues/43

We have GeometricalPreciates now working on `x86`, so it may be good to support 32 bit here as well.

[2022-07-05 15:23] dkarrasch commented on #62
There seems to be not a single occurence of `Int`, there's only `Int64`. Let's open a branch, add CI and see what happens.

[2022-07-06 08:48] #62 closed

[2022-08-16 23:15] felipeek commented on #15
+1

[2022-11-28 02:49] hcfugro opened #64 "Plot not working fir gladly"
I'm trying to use x,y=getplotxy(voronoiedges(tess)
There are some NaN values in x and y. When I try to plot the image I get this error